#include <windows.h>
#include "resource.h"

LANGUAGE 9,1

IDR_FILE_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Open...\tAlt+O",ID_FILE_OPEN
    MENUITEM SEPARATOR
    MENUITEM "Start Emulation\tAlt+S",ID_FILE_START,GRAYED
    MENUITEM "Pause Emulation",ID_FILE_PAUSE,GRAYED
    MENUITEM "Stop Emulation",ID_FILE_STOP,GRAYED
    MENUITEM "Reset\tAlt+R",ID_FILE_RESET,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Debugger\tAlt+F2",ID_FILE_DEBUGGER
    MENUITEM SEPARATOR
    POPUP "Recent Files"
    BEGIN
      MENUITEM "Reset",ID_FILE_RECENT_RESET
    END
    MENUITEM SEPARATOR
    MENUITEM "&Exit",ID_FILE_EXIT
  END
  POPUP "&Options"
  BEGIN
    MENUITEM SEPARATOR
  END
  POPUP "&Info"
  BEGIN
    MENUITEM "Info",ID_INFO_INFO
  END
END

IDR_DEBUG_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Open Breakpoints\tCtrl+O",ID_DEBUG_OPEN_BREAKPOINTS
    MENUITEM SEPARATOR
    MENUITEM "&Exit",ID_DEBUG_EXIT
  END
  POPUP "&View"
  BEGIN
    MENUITEM "Breakpoints\tCTRL+B",ID_DEBUG_VIEW_BREAKPOINT
    MENUITEM "Memory View\tCTRL+M",ID_DEBUG_VIEW_MEMORY
  END
END

IDR_BREAKPOINT_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Open",ID_BREAKPOINT_OPEN
    MENUITEM "Save",ID_BREAKPOINT_SAVE
    MENUITEM SEPARATOR
    MENUITEM "Add",ID_BREAKPOINT_NEW
    MENUITEM "Delete All",ID_BREAKPOINT_DELETE_ALL
    MENUITEM "Disable All",ID_BREAKPOINT_DISABLE_ALL
    MENUITEM "Enable All",ID_BREAKPOINT_ENABLE_ALL
    MENUITEM SEPARATOR
    MENUITEM "Exit",ID_BREAKPOINT_EXIT
  END
  POPUP "&Breakpoint",GRAYED
  BEGIN
    MENUITEM "Enabled",ID_BREAKPOINT_ENABLE
    MENUITEM "Properties",ID_BREAKPOINT_PROPERTY
  END
END

IDD_DIALOG1 DIALOGEX 254,0,320,200
CAPTION "Debugger"
FONT 8,"Arial",0,0
MENU IDR_DEBUG_MENU
STYLE 0x10CF0000
BEGIN
  CONTROL "",IDC_DEBUG_EDITGO,"Edit",0x50010180,4,18,56,12,0x00000200
  CONTROL "",IDC_DEBUG_TOOLBAR,"ToolbarWindow32",NOT 0x10000000|0x40000900,0,0,0,0
  CONTROL "Go",IDC_DEBUG_GO,"Button",0x50010000,64,18,44,12
  CONTROL "",IDC_THREAD,"ComboBox",0x50310003,114,18,106,90
  CONTROL "",IDC_DEBUG_SB,"ScrollBar",0x50000001,208,32,12,151
  CONTROL "",IDC_DEBUG_DIS,"ListBox",0x50810151,4,32,204,151,0x00000200
  CONTROL "",IDC_DEBUG_SB1,"msctls_statusbar32",0x50000103,0,263,322,13
  CONTROL "",IDC_DEBUG_REG,"SysListView32",0x5001C00D,222,34,92,149,0x00000200
  CONTROL "",IDC_REG_MODE,"ComboBox",0x50310003,224,18,91,90
END

IDD_DIALOG2 DIALOGEX 6,6,317,110
CAPTION "Memory View"
FONT 8,"Arial",0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "Go",IDC_MEMORY_GO,"Button",0x50010000,64,5,44,13
  CONTROL "",IDC_MEMORY_EDIT,"Edit",0x50010180,4,5,56,13,0x00000200
  CONTROL "",IDC_MEMORY_VERTSB,"ScrollBar",0x50000001,302,25,12,70
  CONTROL "",IDC_MEMORY_VIEW,"Static",0x50021100,4,25,296,70
  CONTROL "",IDC_STATUSBAR,"msctls_statusbar32",0x50000103,0,100,317,14
END

IDD_DIALOG3 DIALOGEX 6,6,291,106
CAPTION "Breakpoints List"
FONT 8,"Arial",0,0
MENU IDR_BREAKPOINT_MENU
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_LV1,"SysListView32",0x5001800D,4,3,282,100,0x00000200
END

IDD_DIALOG4 DIALOGEX 6,5,229,124
CAPTION "Edit Source Breakpoint"
FONT 8,"Arial",400,0
STYLE 0x10CC0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_STATIC,"Button",0x50000007,4,3,220,100
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,174,108,50,14
  CONTROL "Ok",IDOK,"Button",0x50010000,118,108,50,14
  CONTROL "Address :",IDC_STATIC,"Static",0x50000000,10,17,46,9
  CONTROL "Access Type :",IDC_STATIC,"Static",0x50000000,10,34,46,9
  CONTROL "Condition :",IDC_STATIC,"Static",0x50000000,10,51,46,9
  CONTROL "Pass Count :",IDC_STATIC,"Static",0x50000000,10,68,46,9
  CONTROL "",IDC_EDIT1,"Edit",0x50010000,66,13,152,12,0x00000200
  CONTROL "",IDC_EDIT2,"Edit",0x58012002,190,30,28,12,0x00000200
  CONTROL "",IDC_EDIT3,"Edit",0x50010000,66,48,152,12,0x00000200
  CONTROL "",IDC_EDIT4,"Edit",0x50012000,66,65,152,12,0x00000200
  CONTROL "Description :",IDC_STATIC,"Static",0x50000000,10,85,44,9
  CONTROL "",IDC_EDIT5,"Edit",0x50012000,66,82,152,12,0x00000200
  CONTROL "Execute",IDC_RADIO1,"Button",0x50010009,68,34,40,9
  CONTROL "Write (# bytes)",IDC_RADIO2,"Button",0x50010009,116,34,70,9
END

111 ACCELERATORS
BEGIN
  79,ID_FILE_OPEN,VIRTKEY,ALT,NOINVERT
  83,ID_FILE_START,VIRTKEY,ALT,NOINVERT
  82,ID_FILE_RESET,VIRTKEY,ALT,NOINVERT
  113,ID_FILE_DEBUGGER,VIRTKEY,ALT,NOINVERT
END

112 ACCELERATORS
BEGIN
  66,ID_DEBUG_VIEW_BREAKPOINT,VIRTKEY,CONTROL,NOINVERT
  77,ID_DEBUG_VIEW_MEMORY,VIRTKEY,CONTROL,NOINVERT
  76,ID_DEBUG_OPEN_BREAKPOINTS,VIRTKEY,CONTROL,NOINVERT
END

1 24 "sam.app"

2 ICON DISCARDABLE "sam.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,2
PRODUCTVERSION 1,0,0,2
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Actarus\0"
      VALUE "FileDescription", "Sam - Sony PSP Emulator\0"
      VALUE "FileVersion", "1.0.0.2\0"
      VALUE "InternalName", "Sam.exe\0"
      VALUE "LegalCopyright", "Copyright (C) 2008\0"
      VALUE "OriginalFilename", "Sam.exe\0"
      VALUE "ProductName", "Sam - Sony PSP Emulator\0"
      VALUE "ProductVersion", "1.0.0.2\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

